* {
    margin:0;
    padding:0;
}

header {
    width: 100%;
    background-color:tomato;
    color:aliceblue;
}

.nav {
    width: 70%;
    margin: 0 auto;
}

.nav > a {
    color:aliceblue;
    padding:10px;
    font-size: 18px;
    text-decoration: none;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.nav > a:hover {
    background-color:salmon;
}

.clear{
    clear:both;
}

.iloveyou{
    background-color: darksalmon;
}
.iloveyou > div {
    width: 70%;
    margin:0 auto;
    padding: 20px 0;
    color:white;
}
.iloveyou > div > span {
    display: block;
    font-size: 28px;
    margin-bottom: 5px;
}

.content {
    width: 70%;
    margin:0 auto;
    min-height: 800px;
}

.content > .col-left {
    float: left;
    width: 70%;
}

.content > .col-right {
    float: left;
    width: 30%;
}